.gradle
/local.properties
/.idea/
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/okhttp3*
.idea/*
*.iml
*.xml
.idea
.idea/.name
.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
sample-okhttp/sample-okhttp.iml



